
<mat-toolbar class="container" >
  <div class="menu-btn-wraper">
    <button mat-button routerLink="/main" *ngIf='gAuth.user$ | async as user$' class="header-menu-btn"> Main</button>
    <button mat-button routerLink="/faq" class="header-menu-btn"> FAQ</button>
    <button mat-button routerLink="/user-profile" *ngIf='gAuth.user$ | async as user$' class="header-menu-btn"> Profile</button>
  </div>
  <ng-template #login>
    <button mat-button routerLink="/login" class="login-btn">Login</button>
  </ng-template>
  <!-- *ngIf="gAuth.isActive == false" -->
  <button mat-button *ngIf="gAuth.user$ | async as user$; else login" (click)='gAuth.logout()' class="login-btn">Logout</button>
</mat-toolbar>

<app-audio-player></app-audio-player>

<!-- *ngIf="isLoggedIn$ | async as isLoggedIn" -->
<!-- *ngIf="isLoggedIn$.source._value == false" --> 
