
<mat-toolbar class="container" >
  <div class="menu-btn-wraper">
    <button mat-button routerLink="/main" *ngIf='auth.user$ | async as user' class="header-menu-btn"> Main</button>
    <button mat-button routerLink="/faq" class="header-menu-btn"> FAQ</button>
    <button mat-button routerLink="/user-profile" *ngIf='auth.user$ | async as user' class="header-menu-btn"> Profile</button>
  </div>
  <ng-template #login>
    <button mat-button routerLink="/login" class="login-btn">Login</button>
  </ng-template>
  <div *ngIf="auth.user$ | async as user; else login">
    <button mat-button (click)='auth.signOut()' class="signout-btn">Log Out</button>
  </div>
</mat-toolbar>

<app-audio-player></app-audio-player>

 