
<mat-toolbar class="container" >
  <div class="menu-btn-wraper">
    <button mat-button  *ngIf="auth.isAuth()" routerLink="/main" class="header-menu-btn"> Main</button>
    <button mat-button routerLink="/faq" class="header-menu-btn"> FAQ</button>
    <button mat-button  *ngIf="auth.isAuth()" routerLink="/user-profile"  class="header-menu-btn"> Profile</button>
  </div>
  <ng-template >
    <button mat-button  routerLink="/login"  *ngIf="auth.isAuth()" class="login-btn">Login</button>
  </ng-template>
  <div  *ngIf="auth.isAuth()">
    <button mat-button (click)="logout(user)" class="signout-btn">Log Out</button>
  </div>
</mat-toolbar>

<app-audio-player></app-audio-player>

 