<input type="text" [(ngModel)]='albumId'>
<button mat-raised-button (click)="mainList.search()">Search track</button>

<mat-list>
    <mat-list-item  class="list-container">
        <img src="" alt="Album-Cover">
        <div class="song-description">
            <p class="album-name">{{ response }}</p>
            <p class="actor-name">{{ response }}</p>
            <div class="play-track">
                <button mat-raised-button>Play</button>
                <span class="track-duration">3h</span>
            </div>
        </div>
    </mat-list-item>
</mat-list> 