<div class="wraper">
    <form [formGroup]="searchForm" class="form-group">
        <div class="search-container">
            <mat-form-field class="search-input">
                <input 
                    formControlName="searchField"
                    matInput
                    placeholder='Type to search...'
                    type="search"
                    (keyup.enter)="searchTrack(searchForm.controls.searchField.value)">
                <mat-icon class="icon-search" (click)="searchTrack(searchForm.controls.searchField.value)">search</mat-icon>
            </mat-form-field>
        </div>
    </form>
    <mat-list class="list-container">
        <div class="track-block" *ngFor="let item of tracksArray; let i = index" >
            <div class="track-cover">
                <img [src]="item.artworkUrl100" alt="Album-Cover">
            </div>
            <div class="track-description">
                <p class="artist-name">{{ item.artistName }}</p>
                <p class="track-name">"{{ item.trackName }}"</p>
                <p class="track-duration">{{ item.trackTimeMillis | date:'mm:ss'}}</p>
            </div>
            <div role='button' class="play-btn" (click)="playTrack(i)"><mat-icon >play_circle_outline</mat-icon></div>
            <mat-divider></mat-divider>
        </div>     
    </mat-list> 
</div>  